{% extends 'baseclient.html' %}
{%block title%}Payment - Client{%endblock%}
{% load static %}
{% block css%}
<link rel="stylesheet" type="text/css" href="/static/chat/style.css">
<style type="text/css">
.size {
    width: 300px;
    margin: auto;
}

.time_date_sent {
    color: #f5f5f5;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.time_date_replies {
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.chat_dp {
    width: 50px;
    height: 50%;
    border-radius: 50%;
}

.client_dp {
    width: 150px;
    height: 50%;
    float: left;
    margin-left: 20px;
    border-radius: 50%;
}

@media (min-width: 990px) {
    .card {
        width: 30rem;
    }
}

.myCard {
    margin-left: 100px;
    position: relative;
}

@media (max-width: 500px) {
    .myCard {
        margin-left: 0px;
        position: relative;
    }
}
</style>
{%endblock%}
{%block timelineActive%} btn btn-outline-success btn-sm{%endblock%}
{%block body%}
<div>
    <ul class="nav nav-tabs nav-pills">
        <li class="nav-item mx-auto active">
            <a href="/client/viewTimeline/{{project.projectId}}"> <i class="zmdi zmdi-widgets nav-link" style="font-size: 20px;"></i></a>
        </li>
        <li class="nav-item mx-auto">
            <a href="/client/uploadFiles/{{project.projectId}}"> <i class="zmdi zmdi-collection-image nav-link" style="font-size: 20px;"></i></a>
        </li>
        <li class="nav-item mx-auto">
            <a href="/client/payment/{{project.projectId}}"><i class="zmdi zmdi-navigation" style="font-size: 20px;"></i></a>
        </li>
        <li class="nav-item mx-auto">
            <a href="/client/giveReviews/{{project.projectId}}"><i class="zmdi zmdi-check-circle" style="font-size: 20px;"></i>
            </a>
        </li>
    </ul>
</div>
<div class="container mb-3 mt-3">
    <div class="row">
        <div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
            <img src="/static/img/1.jpg" class="padded card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">No Default Payment Module</h5>
                <p class="card-text text-center">We tried to implement default secure payment module but there is no way to implement this without a machine account & no One of us want to compromise our existing bank accounts for this service. Will integrate this feature in upcoming days.Now just use our custom payment method. Thank you.</p>
                <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-primary d-block">Make Payment</a>
            </div>
        </div>


        <div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoRsJySqtIEVxs-wcJ0WXFq55xQuoWfzyEMw&usqp=CAU" class="padded card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Make report to  {{project.freelancer}}</h5>
                <p class="card-text text-center"></p>
                <form id="myForm2" action="/client/makeReport/{{project.projectId}}"method="post">{% csrf_token %}
                <a href="#" id="#myButton" class="btn btn-primary d-block submit">Submit</a>
                </form>
                
            </div>

        </div>
    </div>
</div>
<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Successful payment</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <img src="https://openjournalsystems.com/wp-content/uploads/2017/07/payment-success.png">
            </div>
        </div>
    </div>
</div>
<!--
<div class="modal fade" id="myModalInput">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        
            <div class="modal-body">
                <form enctype="multipart/form-data" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <label for="money">Enter Amount of money </label>
                        <input type="number" class="form-control" id="money" placeholder="Enter" name="money">
                    </div>
                    <button type="Submit" data-toggle="modal" data-target="#myModal" class="btn btn-primary">Submit</button>
                </form>
            </div>
           
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>-->


<script>
    $(document).ready(function(){
        $("a.submit").click(function(){
            document.getElementById("myForm2").submit();
        }); 
    });
</script>
{%endblock%}